 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Document</title>
 </head>
 <body>
 	<center>
 		<table border='1'>
 			<tr>
 				<td>商品id</td>
 				<td>所属品牌</td>
 				<td>所属分类</td>
 				<td>店铺名称</td>
 				<td>商品名称</td>
 				<td>商品简介</td>
 				<td>商品简介</td>
 				<td>商品价格</td>
 				<td>商品货号</td>
 			</tr>
 			<foreach name='data' item='v'>
 			<tr>
 				<td>{$v.g_id}</td>
 				<td></td>
 				<td></td>
 				<td></td>
 				<td></td>
 				<td></td>
 				<td></td>
 				<td></td>
 			</tr>
 			</foreach>
 		</table>
 	</center>
 </body>
 </html>